@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'poppinsmedium';
    src: url('../fonts/poppinsmedium.eot');
    src: url('../fonts/poppinsmedium.eot') format('embedded-opentype'),
         url('../fonts/poppinsmedium.woff2') format('woff2'),
         url('../fonts/poppinsmedium.woff') format('woff'),
         url('../fonts/poppinsmedium.ttf') format('truetype'),
         url('../fonts/poppinsmedium.svg#poppinsmedium') format('svg');
}

.container{
    padding-left: 1rem;
    padding-right: 1rem;
}

:root{
    --ffpoppinsMedium:'poppinsmedium'
}

.header .listBullet li a{
    color:#fff;
    display: block;
    padding: 10px;
    font-weight: bold;
}

.header .listBullet li a.active{
    background-color: #f27a8a;
}
