/* styles.css */

body {
    padding: 50px;
    background-color: #ce772a;
  }
  
  .content {
    background-color: mistyrose;
  }
  
  ul {
    max-height: 300px; /* Example height, adjust as needed */
    overflow-y: auto; /* Ensure vertical scrollbar appears when needed */
  }
  
  /* Overwrite the default to keep the scrollbar always visible */
  
  /* WebKit (Safari, macOS) */
  ::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
  }
  
  ::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
  }
  